.suggestions-container {
  list-style-type: none;
  padding: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  text-align: left;

  -webkit-margin-before: 4px;
  -webkit-margin-after: 4px;

  -moz-margin-before: 4px;
  -moz-margin-after: 4px;

  .suggestion-item {
    color: #999;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    border-top: 1px solid #e6e6e6;
    line-height: 30px;
    white-space: nowrap;

    &:hover {
      background-color: #e6e6e6;
    }
  }
}
